
@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Student List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>roll</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student p in (IEnumerable<Student>)ViewData["list"])
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.roll</td>
                <td>@p.Percentage</td>
            </tr>
        }
    </tbody>
</table>

